__pycache__/Person.cpython-310.pyc
__pycache__/Section.cpython-310.pyc
__pycache__/ToggledFrame.cpython-310.pyc
__pycache__/Utilities.cpython-310.pyc
__pycache__/Window.cpython-310.pyc
Miscellaneous/__pycache__/ToggledFrame.cpython-310.pyc
output.pdf
